{{>partials/header}}

<fieldset>
    <legend>Adicionar Novo Usuário</legend>
    <form method="POST" action = "/user">
        <input type="text" name="firstName" placeholder="Digite seu nome" /><br/>
        <input type="text" name="lastName" placeholder="Digite seu sobrenome" /><br/>
        <input type="email" name="email" placeholder="Digite seu email" /><br/>
        <input type="text" name="age" placeholder="Digite sua idade" /><br/>
        <input type="text" name="interests" placeholder="Digite seus interesses (separados por vírgula)" /><br/>
    </form>
</fieldset>


<h3>Usuários</h3>
<ul>
    {{#user}}
        <li>{{name.firstName}} - {{age}} anos</li>
    {{#user}}
</ul>

{{>partials/footer}}